.layout {

  header {
    background-color: lightsalmon;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: #333;
      font-size: 18px;

      &:hover {
        color: #000;
      }
    }
  }

  main {
    padding: 20px;
  }
}
