.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #45a049;
    }
  }
}

.product-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
  }
}

.product-details-popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.product-details-popup button {
  margin-top: 10px;
  background-color: #ff0000;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-details-popup button:hover {
  background-color: #cc0000;
}
