.shopping-cart {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;

  h2 {
    text-align: center;
  }

  .cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    p {
      margin: 5px 0;
    }

    button {
      margin: 0 5px;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      cursor: pointer;
      background-color: #f5f5f5;

      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}
