.App {
  font-family: sans-serif;
  text-align: center;
}
.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #f4f4f4;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

footer {
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: auto;
}
